body {
    background-color: beige;
}

h1{
    background-color: brown;
    color: beige;
    text-align: center;
    border-radius: 100px;
}

.container {
    display: flex;
}

.list-container {
    background-color: burlywood;
    margin-right: 2px;
    flex: 5;
}

.form-container {
    background-color: cadetblue;
    margin-left: 2px;
    flex: 3;
}

.my-form {
    margin-bottom: 10px;
    padding: 5px;
}

.my-form label{
    display: block;
    width: 90px;
}

.main-icon{
    color: #efef6b;
    font-size: 30px;
    cursor: pointer;
}

#iImportant.important {
    color: brown;
}

.task{
    display: flex;
}

.task label{
    display: block;
}