body {
    background-color: beige;
}

h1{
    background-color: brown;
    color: beige;
    text-align: center;
    border-radius: 100px;
}

.container {
    display: flex;
    background-image: url('https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
}

.list-container {
    /* background-color: burlywood; */
    padding: 20px 30px;
    flex: 5;
}

.form-container {
    background-color: rgba(95, 158, 160, 0.705);
    margin-left: 2px;
    padding: 20px 30px;
    flex: 3;
}

.my-form {
    margin-bottom: 10px;
    padding: 5px;
}

.my-form label{
    display: block;
    width: 90px;
}

.main-icon{
    color: #efef6b;
    font-size: 30px;
    cursor: pointer;
}

#iImportant.important {
    color: brown;
}

.task{
    display: flex;
    background-color: rgba(255, 255, 255, 0.664);
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 12px;
}

.task label{
    display: block;
    margin-bottom: 5px;
}

.task .col1{
    flex: 4;
}

.task .col2{
    flex: 1;
}

.task .col3{
    flex: 1;
}